%p#notice= notice
%h1 Decks
%table
  %thead
    %tr
      %th Name
      %th Format
      %th Commander
      %th{:colspan => "3"}
  %tbody
    - @decks.each do |deck|
      %tr
        %td= link_to deck.name, deck
        %td= deck.format
        %td= deck.commander_id
        %td= link_to 'X', deck, method: :delete, data: { confirm: 'Are you sure you want to permanently delete this deck?' }
%br/
= link_to 'New Deck', new_deck_path
